a.button {
  display: block;
  float: left;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 2em;
  min-width: 60px;
  min-height: 60px;
  text-align: center;
  line-height: 60px;
  color: #222222;
  border: 1px solid #898f9c; }
  a.button:hover {
    background-color: #222222;
    border-color: #222222;
    color: white; }
a:hover {
  text-decoration: none; }

.toolbar {
  margin-bottom: 20px;
  margin-top: 80px; }
  .toolbar .buttons-holder {
    display: inline-block; }

@media (max-width: 750px) {
  a.button {
    margin-right: 10px; }

  #shareButton {
    display: inline !important;
    width: auto !important; }

  .toolbar {
    margin-top: 70px; }

  .fb-like {
    margin-right: 10px; }

  .ad-small {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0; }

  .ad-large {
    display: none; } }
@media (min-width: 751px) {
  .ad-small {
    display: none; }

  .ad-large {
    display: block; } }
.ad-small, .ad-large {
  margin-bottom: 10px; }

.image {
  background-image: url(../images/loading.gif);
  min-width: 200px;
  min-height: 200px;
  background-position: center center;
  background-repeat: no-repeat; }
