!!!
%html
  %head
    %meta{'charset':'utf-8'}
    %meta{'http-equiv':'X-UA-Compatible','content':'IE=edge'}
    %meta{'name':'viewport','content':'width=device-width, initial-scale=1'}
    %meta{'description': "Huizengluren | Huis fotograferen tips"}
    %title HuizenGluren.nl Tips

    %link{'href':'https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css','rel':'stylesheet'}
    %script{'src':'https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'}
    %script{'src':'https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'}
    %script{'src':'./javascript/jquery.storageapi.min.js'}
    %link{'href':'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css','rel':'stylesheet'}
    %link{'href':'css/app.css','rel':'stylesheet'}

    <!--[if lt IE 9]>
      %script{'src':'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'}
      %script{'src':'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'}
    <![endif]-->


    :javascript
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      (function() {
      var gads = document.createElement('script');
      gads.async = true;
      gads.type = 'text/javascript';
      var useSSL = 'https:' == document.location.protocol;
      gads.src = (useSSL ? 'https:' : 'http:') + 
      '//www.googletagservices.com/tag/js/gpt.js';
      var node = document.getElementsByTagName('script')[0];
      node.parentNode.insertBefore(gads, node);
      })();
      googletag.cmd.push(function() {
        googletag.defineSlot('/10580130/leaderboard', [728, 90], 'div-gpt-ad-1393334674705-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
      });
      googletag.cmd.push(function() {
        googletag.defineSlot('/10580130/leaderboard', [320, 50], 'div-gpt-ad-1393334674705-1').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
      });


  %body

    .navbar.navbar-inverse.navbar-fixed-top{'role':'navigation'}
      .container
        %ul.nav.navbar-nav.pull-right{'style':'margin-top: 15px'}
          %li
            .fb-like{'data-href':'https://www.facebook.com/huizengluren', 'data-layout':'button_count','data-action':'like','data-show-faces':'true','data-share':'false'}
        .navbar-header
          %a.navbar-brand{'href':'/'} HuizenGluren.nl
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{'href':'/'}
                Random Funda foto's
            %li
              %a{'href':'/uitblinkers.html'}
                Uitblinkers
            %li.active
              %a{'href':'/tips.html'}
                Tips

    .container.body
      #div-gpt-ad-1393334674705-0.ad-large
        :javascript
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1393334674705-0'); });
      #div-gpt-ad-1393334674705-1.ad-small
        :javascript
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1393334674705-1'); });

      %div
        %h1 Tips voor het maken van woningfoto's
        %p Je huis klaar maken voor het maken van foto's, is eigenlijk ook het voorbereiden op bezichtigingen. Het is dé kans om grondig op te ruimen en schoon te maken (ook al heb je daar wellicht geen zin in). Als je het deze keer echter goed opruimt, hoef je het daarna voor bezichtingen minder goed te doen.

        %h2 Het gaat om de details
        %p Dus hop, aan de slag. Een schoon en opgeruimd huis zorgt automatisch voor betere foto's. Het huis mag er best gezellig uitzien op de foto's, maar zorg er niet voor dat het een rommeltje is. We adviseren echter om alle foto's die her en daar staan weg te halen, die hoeven niet nog jarenlang op funda.nl te staan, toch?

        %p Als je je onderstaande lijst houdt met tips houdt, kom je al een heel eind!
        %ul
          %li Zorg dat het huis schoon en aan kant is
          %li Maak alle ruimtes, met name de keuken, badkamer en toilet goed schoon (niemand heeft behoefte aan remsporen op de foto)
          %li Zorg ervoor dat ook de ramen schoon zijn (die zon buiten willen we zien!)
          %li Maak alle bedden op (ja, netjes, strijken mag)
          %li Ruim grondig op zodat uw huis er "strak" uit ziet

          %li Kijk kritisch rond en ruim kleine spulletjes op (die potjes van tante Annie zijn écht niet mooi)
          %li Zet erg persoonlijke items zoals bijvoorbeeld kinderfoto's uit het zicht
          %li Ruim wasgoed en kledingstukken op (en stop ze gelijk in de wasmachine/kast)
          %li Zorg voor licht en sfeer in jouw woning (maak 's avonds geen foto's, maar overdag)

          %li Maak de woning zo licht mogelijk: doe gordijnen en rolluiken open (en de ramen lappen!)
          %li Zet tussendeuren open voor nog meer lichtinval (ook als je ze niet ziet, kan het toch licht doorgeven)
          %li Hebt u een tuin? Zet dan ook de deur naar de tuin open.
          %li Zet verse bloemen neer en zorg dat uw planten er fris uit zien. (Plastic bloemen tellen niet)

        %h2 Andere aandachtspunten bij het fotograferen van uw woning
        %p Heb je veel meubels in je kamer staan, dan kan het huis rommelig overkomen. Hetzelfde geldt voor spullen van je hobby's (die treintjes op zolder?). Je zou tijdelijk wat opslagruimte kunnen huren. Of je zou uiteindelijk toch 1 van die 3 banken weg kunnen doen. Scheelt je ook weer sjouwen bij het verhuizen! :)

        %p Niet iedereen houd van huisdieren (hoe lief Keessie ook kijkt). Heb je een huisdier, zorg er dan voor dat ze, en alle hulpmiddelen (kattenbakken, hondenmanden, etc), niet op de foto staan.

        %p Heb je veel betere tips? Laat het ons weten!
        .fb-comments{'data-href':'http://www.huizengluren.nl/tips/','data-numposts':'50','data-colorscheme':'light'}


    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-6222238-3', 'svdgraaf.nl');
      ga('send', 'pageview');

    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/nl_NL/all.js#xfbml=1&appId=1422433824668885";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));